
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vitor Henriques", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li>@Html.ActionLink("Planos", "Index", "Plan")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Client")</li>
                <li>@Html.ActionLink("Clientes Nova Tabela", "IndexApi", "Client")</li>
                <li>@Html.ActionLink("API", "Index", "Sales")</li>
                <li>@Html.ActionLink("SMS", "Index", "Manage")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
