@model WebComplete.Models.IndexViewModel
@{
    ViewBag.Title = "Validação por SMS";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Alterar as suas definições de conta</h4>
    <hr />
  
        
         
       <dt>Numero do Telemovel:</dt>
        <dd>
            @(Model.PhoneNumber ?? "Nenhum") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @:  | 
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </dd>
        <dt>Segundo-Fator de Autenticao:</dt>
        <dd>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage",
                    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Ativar
                        <input type="submit" value="Desativar" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage",
                    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Desativar
                        <input type="submit" value="Ativar" class="btn btn-link" />
                    </text>
                }
            }
        </dd>
    </dl>
</div>
